/* Banner */
.banner {
	position: relative;
	height: 100vh;
	padding-top: 20.7rem;
	background-image: url('../imgs/banner-bg.png');
	background-size: cover;
	background-repeat: no-repeat;

	.container {
		max-width: 97rem;
		padding: 7rem 1.5rem;
		@include flex(column, center, center);

		img {
			margin-bottom: 1.7rem;
		}
	}

	.main-title {
		text-transform: uppercase;
		margin-bottom: 3.7rem;
	}
	&__desc {
		margin-bottom: 3rem;
		color: $white-cl;
		font-size: 1.8rem;
		@include leading(18, 24);
	}

	&__tools {
		width: 100%;
		color: $white-cl;
		text-align: center;
		p {
			margin-bottom: 1rem;
			font-size: 1.2rem;
		}
		div {
			@include flex(row, center, center);
			.btn {
				background: #ff0000;
				a {
					padding: 2rem;
				}
				i {
					margin-right: 1rem;
				}
				&:last-child {
					margin-left: 0.7rem;
					background: #111;
				}
			}
		}
	}

	@include tablet {
		& {
			padding-top: 13.5rem;
		}
	}

	@include mobile {
		.container {
			padding-top: 3rem;
			padding-bottom: 3rem;
			.main-title {
				font-size: 2.8rem;
				margin-bottom: 2rem;
			}
		}
	}
}
/* Banner - End */

/* Search */
.search {
	background-image: url('../imgs/search-bg.png');
	background-position: center;
	background-size: cover;

	.container {
		padding: 4.4rem 1.5rem;
	}

	&__tabs {
		margin-bottom: 2rem;
		font-size: 1.2rem;
		color: $white-cl;
		@include flex(row, flex-start, center);
		p {
			user-select: none;
			text-transform: uppercase;
			font-weight: bold;
			cursor: pointer;
			@include transition(color $t2);
			&.--choice {
				color: $main-cl;
			}
		}

		span {
			margin: 0 1rem;
		}
	}

	.form-control {
		padding: 0.2rem;
		width: 100%;
		background: $bg-white-cl;
		border: 1px solid $border-cl;

		@include br(3px);
		@include flex(row, space-between, stretch, wrap);
		@include transition(opacity $t2);

		.select {
			position: relative;
			width: 10%;

			margin-right: 0.7rem;
			@include br(inherit);

			//custom for select 2 library
			// .select2-container,
			// .select2-hidden-accessible,
			// .selection > * {
			// 	font-size: 1.3rem;
			// 	height: 100%;
			// 	width: 100%;
			// 	img {
			// 		display: inline-block;
			// 		width: 3rem;
			// 		height: 3rem;
			// 		@include br(100%);
			// 		object-fit: cover;
			// 	}
			// 	.select2-selection {
			// 		@include flex(row, flex-start, center);
			// 	}
			// 	.select2-selection__arrow {
			// 		// display: none;
			// 	}
			// 	.dropdown-wrapper {
			// 		font-size: 1.3rem;
			// 	}
			// 	.myFont {
			// 		font-size: 1.3rem;
			// 	}
			// }
			//custom for select 2 library

			select {
				padding: 1rem;
				width: 100%;
				height: 100%;
				font-size: 1.4rem;
				border: none;
				outline: none;
				cursor: pointer;
				@include br(inherit);
			}
			//arror for select
			// &::before {
			// 	content: '\f107';
			// 	position: absolute;
			// 	font-weight: 900;
			// 	font-family: 'Font Awesome 5 Free';
			// 	top: 50%;
			// 	right: 1rem;
			// 	font-size: 1.5rem;
			// 	pointer-events: none;
			// 	@include transform(translateY(-50%));
			// }
		}

		.input {
			flex-grow: 1;
			position: relative;
			input {
				width: 100%;
				height: 100%;
				padding: 0.7rem 2rem 0.7rem 4rem;
				border: none;
				outline: none;
			}
			&::before {
				content: '\f002';
				position: absolute;
				top: 50%;
				left: 2rem;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				font-size: 1.5rem;
				@include transform(translateY(-50%));
			}
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 0.1rem;
				height: 50%;
				background: rgba($color: $border-cl, $alpha: 1);
				@include transform(translateY(-50%));
			}
		}

		.btn {
			width: 15%;
			background: $main-cl;
			@include br(inherit);

			a {
				padding: 1rem 2rem;
				height: 100%;
				color: $white-cl;
				@include mid-flex;
			}
		}

		&.--show {
			@include visible;
		}
		&.--hidden {
			@include hidden;
			height: 0;
			padding: 0;
			border: 0;
		}

		&:last-child {
			.input {
				&::before {
					left: 1rem;
				}
				&::after {
					display: none;
				}
			}
		}
	}

	@include mobile {
		.form-control {
			flex-direction: column;
			& > * {
				width: 100% !important;
				height: 4rem;
				margin-bottom: 2rem;
				&:last-child {
					margin-bottom: 0;
				}
			}

			.select {
				border: 1px solid black;
				width: 100%;
			}

			.input {
				width: 100%;
				border: 1px solid black;
				@include br(inherit);
				input {
					padding-left: 3rem;
				}
				&::before {
					left: 0.5rem !important;
				}
			}

			.btn {
				width: 100%;
			}
		}
	}
}
/* Search - End */

/* Heading */
.heading {
	max-width: 83rem;
	margin: 0 auto;
	.main-title {
		margin-bottom: 2.6rem;
	}
	&__desc {
		margin-bottom: 3rem;
		color: $text-gray-cl;
		font-size: 1.4rem;
		@include leading(14, 20);
	}
}
/* Heading - End */

/* Services */
.services {
	padding: 7rem 0;
	&__list {
		@include flex(row, space-between, stretch, wrap);
	}

	&__box {
		// min-height: 15rem
		position: relative;
		width: calc(100% / 6 - 2.5rem);
		cursor: pointer;

		@include flex(column, flex-start, center);
		@include transition(background $t);

		&-icon {
			margin-bottom: 1rem;
			width: 5rem;
			height: 5rem;
			background: $main-cl;
			@include br(100%);
			@include mid-flex;
			img {
				max-width: 100%;
				max-height: 100%;
				object-fit: cover;
			}
		}

		p {
			min-height: 7rem;
			font-size: 1.4rem;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			color: $black-cl;
			line-height: 1.2;
		}

		// &.active {
		// 	background: $black-bg-cl;
		// 	p {
		// 		color: $white-cl;
		// 	}
		// }
		&.active {
			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 50%;
				width: 0;
				height: 0;

				@include transform(translateX(-50%));
			}
			&::after {
				bottom: -2px;

				border-style: solid;
				border-width: 0 20px 25px 20px;
				border-color: transparent transparent #fff transparent;
			}
			&::before {
				bottom: 0px;

				border-style: solid;
				border-width: 0 20px 25px 20px;
				border-color: transparent transparent $border-cl transparent;
			}
		}
	}

	&__content-list {
		padding: 3rem 7rem;
		border: 1px solid $border-cl;

		.content {
			max-width: 100.9rem;
			margin: 0 auto;
			@include flex(row, space-between, center);
			@include transition(opacity $t 0.1s);

			& > * {
				width: calc(100% / 2 - 1.5rem);
			}

			img {
				margin-left: 0;
				object-fit: cover;
				height: 20rem;
			}

			.main-title {
				text-transform: uppercase;
				font-size: 1.8rem;
				margin-bottom: 2rem;
				line-height: 1.5;
			}
			p {
				margin-bottom: 2rem;
				color: $text-gray-cl;
				font-size: 1.4rem;
				@include leading(14, 20);
			}
			.btn {
				max-width: 14rem;
				width: 100%;
				a {
					color: $white-cl;
				}
			}

			&.--show {
				@include visible;
			}

			&.--hidden {
				height: 0;
				@include hidden;
			}
		}
	}

	@include tablet {
		&__content-list {
			padding: 3.3rem;
		}

		&__box {
			width: calc(100% / 3);
			&.active {
				&::before,
				&::after {
					display: none;
				}
			}
		}
	}
	@include mobile {
		& {
			padding: 5rem 0;
		}
		&__content-list {
			padding: 3.3rem;
			.content {
				flex-direction: column;
				& > * {
					width: 100%;
				}
				img {
					margin-bottom: 2rem;
				}
				p {
					margin-bottom: 0;
				}
			}
		}
		&__box {
			width: calc(100% / 2);
		}
	}
}
/* Services - End*/

/* Benefit*/
.benefit {
	position: relative;
	background-color: #f8f8f8;
	padding: 7.8rem 0 8rem;

	&__content {
		@include flex(row, space-between, stretch, wrap);
		& > div {
			width: calc(100% / 2 - 19rem);
		}
	}

	&__left {
		position: relative;
		.benefit__box {
			text-align: right;
			img {
				margin-right: 0;
			}
		}
	}
	&__right {
		position: relative;
		.benefit__box {
			text-align: left;
			img {
				margin-left: 0;
			}
		}
	}

	&__center {
		position: absolute;
		z-index: 0;
		@include mid;
	}

	&__box {
		width: 100%;
		min-height: 15rem;
		margin-bottom: 3rem;
		&:last-child {
			margin-bottom: 0;
		}
		img {
			min-height: 5rem;
			margin-bottom: 1.5rem;
		}
		h3 {
			font-size: 1.8rem;
			font-weight: bold;
			line-height: 1.5;
		}
		p {
			font-size: 1.4rem;
			@include leading(14, 20);
			@include tracking(25);
		}
	}

	@include tablet {
		// & {
		// 	padding: 3rem 0;
		// }
		&__content {
			& > div {
				width: calc(100% / 2 - 3rem);
			}
		}
		&__center {
			display: none;
		}
	}
	@include mobile {
		& {
			padding: 5rem 0;
		}
		&__content {
			& > div {
				width: 100%;
			}
		}
		&__left {
			margin-bottom: 3rem;
		}
	}
}
/* Benefit - End*/

/* Location */
.location {
	background-color: $main-cl;
	&__info {
		padding: 4.4rem 0;
		color: $white-cl;
		@include flex(row, space-between, stretch, wrap);
		div {
			width: calc(100% / 4 - 2.25rem);
			font-size: 1.4rem;
			line-height: 1.5;
			span {
				display: inline-block;
				text-transform: uppercase;
				margin-bottom: 1rem;
				font-size: 1.2rem;
				font-weight: bold;
				line-height: 1.5;
			}
		}
	}
	&__map {
		iframe {
			display: inline-block;
			width: 100%;
			max-height: 35rem;
		}
	}

	@include mobile {
		&__info {
			padding: 2.2rem 0;
			div {
				width: calc(100% / 2 - 2.25rem);
				margin-bottom: 1rem;
				span {
					margin-bottom: 0;
				}
			}
		}
	}
}
/* Location - End*/

// @include sc-break(600px) {
// 	.find {
// 		&__left {
// 			margin-bottom: 0;
// 		}
// 		&__right {
// 			display: none;
// 		}
// 	}
// }
.fixed-icon {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 4rem;
	height: 4rem;
	z-index: 9999;
	filter: drop-shadow(0 0 1.5px #acacac);
	-webkit-filter: drop-shadow(0 0 1.5px #acacac);
	-moz-filter: drop-shadow(0 0 1.5px #acacac);
	&:nth-of-type(1) {
		bottom: 22rem;
	}
	&:nth-of-type(2) {
		bottom: 17rem;
	}
	&:nth-of-type(3) {
		bottom: 12rem;
	}
	&:nth-of-type(4) {
		bottom: 7rem;
	}
}
